# ======================================================================
# Required software packages
# ======================================================================
- name: install required packages
  yum:
    name: "{{ item }}"
  with_items:
  - nginx
  - dnsmasq
  - httpd-tools

- name: install pip packages
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
  - passlib

- name: create dork keys directory
  file:
    path: /etc/dork-keys
    state: directory

- name: copy insecure keypair
  copy:
    src: "{{ item }}"
    dest: /etc/dork-keys/{{ item }}
  with_items:
  - key
  - key.pub

# ======================================================================
# Build Dork
# ======================================================================
- name: check if dork development folder is mounted
  stat:
    path: /var/dork
  tags:
  - update-dork
  register: dorkdev

- name: install mounted dork sources
  shell: pip install -e /var/dork
  tags:
  - update-dork
  when: dorkdev.stat.isdir is defined and dorkdev.stat.isdir

- name: install dork cli tool
  pip:
    name: dork
    version: "{{ host_dork_version }}"
  tags:
  - update-dork
  when: not dorkdev.stat.isdir is defined or not dorkdev.stat.isdir

- name: copy dork helper scripts
  copy:
    src: bin/{{ item }}.sh
    dest: /usr/bin/{{ item }}
    mode: 0755
  with_items:
  - dork-clone
  - dork-play
  - dork-inventory

# ======================================================================
# Docker
# ======================================================================
- name: copy docker repo file
  copy:
    src: docker.repo
    dest: /etc/yum.repos.d/docker.repo

- name: install docker
  yum:
    name: docker-engine

- name: start docker service
  service:
    name: docker
    state: started

# ======================================================================
# Enable dnsmasq on boot
# ======================================================================
- name: copy dnsmasq config file
  copy:
    src: dnsmasq.conf
    dest: /etc/dnsmasq.d/dork.conf

- name: enable dnsmasq
  shell: systemctl enable dnsmasq

- name: start dnsmasq
  service:
    name: dnsmasq
    state: started

# ======================================================================
# Build the dork container image
# ======================================================================
- name: copy container directory
  copy:
    src: container/
    dest: /tmp/container/

- name: copy ssh authorized key
  shell: cp /etc/dork-keys/key.pub /tmp/container/dork.pub
  args:
    creates: /tmp/container/dork.pub

- name: check if image already exists
  shell: docker images | grep dork/container | wc -l
  register: container
  changed_when: container.stdout_lines[0] == "0"

- name: build the base container
  shell: docker build -t dork/container /tmp/container
  ignore_errors: yes
  when: container.changed

# ======================================================================
# Make hostsfile writable
# ======================================================================
- name: make hostsfile writable
  file:
    path: /etc/hosts
    group: docker
    mode: 0775

# ======================================================================
# HTTP Proxy
# ======================================================================
- name: trigger config rebuild
  shell: /bin/true
  notify: rebuild configuration

- name: enable nginx
  shell: systemctl enable nginx
  notify: start nginx

- name: create tools directory in nginx configuration
  file:
    path: /etc/nginx/tools
    state: directory

# ======================================================================
# Install dork boot service
# ======================================================================
- name: install dork systemd service
  copy:
    src: dork.service
    dest: /etc/systemd/system/dork.service
  notify: systemctl

- name: enable dork service
  shell: systemctl enable dork

