# ======================================================================
# Required software packages
# ======================================================================
- name: install required packages
  yum:
    name: "{{ item }}"
  with_items:
  - nginx
  - dnsmasq
  - httpd-tools
  - python-devel
  - python-pip
  - gcc

- name: install pip packages
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
  - markupsafe
  - ansible
  - passlib

# ======================================================================
# Create an ssh-keypair for this instance
# ======================================================================
- name: create a ssh-keypair for this machine
  shell: ssh-keygen -f /home/{{ dork_user }}/.ssh/id_rsa -t rsa -N ''
  sudo: yes
  sudo_user: "{{ dork_user }}"
  args:
    creates: /home/{{ dork_user }}/.ssh/id_rsa.pub

# ======================================================================
# Build Dork
# ======================================================================
- name: install dork cli tool
  pip:
    name: git+https://github.com/iamdork/dork.git#egg=dork
    state: latest

- name: copy dork helper scripts
  copy:
    src: bin/{{ item }}.sh
    dest: /usr/bin/{{ item }}
    mode: 0755
  with_items:
  - dork-dev
  - dork-clone
  - dork-play
  - dork-inventory

# ======================================================================
# Docker
# ======================================================================
- name: add docker group
  group:
    name: docker

- name: add default user to docker group
  user:
    name: "{{ dork_user }}"
    append: yes
    groups: docker

- name: install docker
  get_url:
    dest: /usr/bin/docker
    url: https://get.docker.com/builds/Linux/x86_64/docker-latest

- name: ensure docker is executable
  shell: chmod +x /usr/bin/docker

- name: install docker systemd services
  copy:
    src: docker.{{ item }}
    dest: /etc/systemd/system/docker.{{ item }}
  with_items:
  - service
  - socket
  notify: systemctl

- name: enable docker
  shell: systemctl enable docker

- name: start docker
  service:
    name: docker
    state: started

# ======================================================================
# Enable dnsmasq on boot
# ======================================================================
- name: enable dnsmasq
  shell: systemctl enable dnsmasq

- name: start dnsmasq
  service:
    name: dnsmasq
    state: started

# ======================================================================
# Build the dork container image
# ======================================================================
- name: copy container directory
  copy:
    src: container/
    dest: /tmp/container/

- name: copy ssh authorized key
  shell: cp /home/{{ dork_user }}/.ssh/id_rsa.pub /tmp/container/dork.pub
  args:
    creates: /tmp/container/dork.pub

- name: copy ssh public key
  shell: cp /home/{{ dork_user }}/.ssh/id_rsa.pub /tmp/container/id_rsa.pub
  args:
    creates: /tmp/container/id_rsa.pub

- name: copy ssh private key
  shell: cp /home/{{ dork_user }}/.ssh/id_rsa /tmp/container/id_rsa
  args:
    creates: /tmp/container/id_rsa

- name: check if image already exists
  shell: docker images | grep dork/container | wc -l
  register: container
  changed_when: container.stdout_lines[0] == "0"

- name: build the base container
  shell: docker build -t dork/container /tmp/container
  ignore_errors: yes
  when: container.changed

- name: make /var/dork directory
  file:
    path: /var/dork
    state: directory
    owner: "{{ dork_user }}"

# ======================================================================
# Copy ansible configuration file
# ======================================================================
- name: ensure ansible configuration directory
  file:
    path: /etc/ansible
    state: directory

- name: copy ansible configuration
  copy:
    src: ansible.cfg
    dest: /etc/ansible/ansible.cfg

# ======================================================================
# Make hostsfile writable
# ======================================================================
- name: make hostsfile writable
  file:
    path: /etc/hosts
    group: docker
    mode: 0775

# ======================================================================
# HTTP Proxy
# ======================================================================
- name: trigger config rebuild
  shell: /bin/true
  notify: rebuild configuration

- name: enable nginx
  shell: systemctl enable nginx
  notify: start nginx

- name: create tools directory in nginx configuration
  file:
    path: /etc/nginx/tools
    state: directory

# ======================================================================
# Install dork boot service
# ======================================================================
- name: install dork systemd service
  copy:
    src: dork.service
    dest: /etc/systemd/system/dork.service
  notify: systemctl

- name: enable dork service
  shell: systemctl enable dork
