# ======================================================================
# Required software packages
# ======================================================================
- name: install required packages
  yum:
    name: "{{ item }}"
  with_items:
  - nginx
  - dnsmasq
  - httpd-tools
  - python-devel
  - python-pip
  - gcc

- name: install pip packages
  pip:
    name: "{{ item }}"
    state: latest
  with_items:
  - ecdsa
  - markupsafe
  - ansible
  - passlib

- name: create dork keys directory
  file:
    path: /etc/dork-keys
    state: directory

- name: copy insecure keypair
  copy:
    src: "{{ item }}"
    dest: /etc/dork-keys/{{ item }}
  with_items:
  - key
  - key.pub

# ======================================================================
# Build Dork
# ======================================================================
- name: install dork cli tool
  pip:
    name: git+https://github.com/iamdork/dork.git#egg=dork
    state: latest

- name: copy dork helper scripts
  copy:
    src: bin/{{ item }}.sh
    dest: /usr/bin/{{ item }}
    mode: 0755
  with_items:
  - dork-dev
  - dork-clone
  - dork-play
  - dork-inventory

# ======================================================================
# Docker
# ======================================================================
- name: add docker group
  group:
    name: docker


- name: install docker
  get_url:
    dest: /usr/bin/docker
    url: https://get.docker.com/builds/Linux/x86_64/docker-latest

- name: ensure docker is executable
  shell: chmod +x /usr/bin/docker

- name: install docker systemd services
  copy:
    src: docker.{{ item }}
    dest: /etc/systemd/system/docker.{{ item }}
  with_items:
  - service
  - socket
  notify: systemctl

- name: enable docker
  shell: systemctl enable docker

- name: start docker
  service:
    name: docker
    state: started

# ======================================================================
# Enable dnsmasq on boot
# ======================================================================
- name: copy dnsmasq config file
  copy:
    src: dnsmasq.conf
    dest: /etc/dnsmasq.d/dork.conf

- name: enable dnsmasq
  shell: systemctl enable dnsmasq

- name: start dnsmasq
  service:
    name: dnsmasq
    state: started

# ======================================================================
# Build the dork container image
# ======================================================================
- name: copy container directory
  copy:
    src: container/
    dest: /tmp/container/

- name: copy ssh authorized key
  shell: cp /etc/dork-keys/key.pub /tmp/container/dork.pub
  args:
    creates: /tmp/container/dork.pub

- name: check if image already exists
  shell: docker images | grep dork/container | wc -l
  register: container
  changed_when: container.stdout_lines[0] == "0"

- name: build the base container
  shell: docker build -t dork/container /tmp/container
  ignore_errors: yes
  when: container.changed

# ======================================================================
# Copy ansible configuration file
# ======================================================================
- name: ensure ansible configuration directory
  file:
    path: /etc/ansible
    state: directory

- name: copy ansible configuration
  copy:
    src: ansible.cfg
    dest: /etc/ansible/ansible.cfg

# ======================================================================
# Make hostsfile writable
# ======================================================================
- name: make hostsfile writable
  file:
    path: /etc/hosts
    group: docker
    mode: 0775

# ======================================================================
# HTTP Proxy
# ======================================================================
- name: trigger config rebuild
  shell: /bin/true
  notify: rebuild configuration

- name: enable nginx
  shell: systemctl enable nginx
  notify: start nginx

- name: create tools directory in nginx configuration
  file:
    path: /etc/nginx/tools
    state: directory

# ======================================================================
# Install dork boot service
# ======================================================================
- name: install dork systemd service
  copy:
    src: dork.service
    dest: /etc/systemd/system/dork.service
  notify: systemctl

- name: enable dork service
  shell: systemctl enable dork

# ======================================================================
# Install keychain for proper ssh agents
# ======================================================================
- name: register rpmforge key
  rpm_key:
    key: http://dag.wieers.com/rpm/packages/RPM-GPG-KEY.dag.txt

- name: install the repo file
  copy:
    src: "{{ item }}.repo"
    dest: /etc/yum.repos.d/{{ item }}.repo
  with_items:
  - rpmforge

- name: install keychain
  yum:
    name: keychain
    enablerepo: rpmforge

- name: place keychain.sh in /etc/profile.d
  copy:
    src: keychain.sh
    dest: /etc/profile.d/keychain.sh

