user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log;

pid        /run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    sendfile        on;
    client_body_buffer_size 100M;
    keepalive_timeout  0;


    {% if host_ssl %}
      server {
        listen 80 default_server;
        return 301 https://$host$request_uri;
      }
    {% endif %}

    include /etc/nginx/sites-enabled/*;

    {% for tool in tools['stdout_lines'] %}
      server {
        server_name {{ tool | regex_replace('^(.*).conf', '\\1') }}.{{ host_wildcard_domain }};
        {% if host_ssl %}
          listen 443;
          include https.conf;
        {% else %}
          listen 80;
        {% endif %}

        error_page 599 = @noauth;
        if (!-f /var/dork/auth/{{ tool | regex_replace('^(.*).conf', '\\1') }}) {
          return 599;
        }

        location / {
          satisfy any;
          {% for ip in host_whitelist %}
            allow {{ ip }};
          {% endfor %}
          {% if host_whitelist %}
            deny all;
          {% endif %}
          auth_basic "Restricted";
          auth_basic_user_file /var/dork/auth/{{ tool | regex_replace('^(.*).conf', '\\1') }};
          include tools/{{ tool }};
        }

        location @noauth {
          include tools/{{ tool }};
        }
      }
    {% endfor %}

    server {
      server_name ~^(?<project>[a-zA-Z0-9-_]+).{{ host_wildcard_domain }}$;
      set $wildcard {{ host_wildcard_domain }};
      set $subdomain $project.$project;
      {% if host_ssl %}
         listen 443;
         include https.conf;
      {% else %}
         listen 80;
      {% endif %}

      error_page 599 = @auth;
      if (-f /var/dork/auth/$project) {
        return 599;
      }

      location / {
        include container_proxy.conf;
      }

      location @auth {
        satisfy any;
        {% for ip in host_whitelist %}
          allow {{ ip }};
        {% endfor %}
        deny all;
        auth_basic "restricted";
        auth_basic_user_file /var/dork/auth/$project;
        include container_proxy.conf;
      }
    }

    server {
      server_name ~^(?<instance>[a-zA-Z0-9-_]+).(?<project>[a-zA-Z0-9-_]+).{{ host_wildcard_domain }}$;
      set $wildcard {{ host_wildcard_domain }};
      set $subdomain $project.$instance;
      {% if host_ssl %}
         listen 443;
         include https.conf;
      {% else %}
         listen 80;
      {% endif %}

      error_page 598 = @projectauth;
      error_page 599 = @instanceauth;

      if (-f /var/dork/auth/$project.$instance) {
        return 599;
      }

      if (-f /var/dork/auth/$project) {
        return 598;
      }

      location / {
        include container_proxy.conf;
      }

      location @projectauth {
        satisfy any;
        {% for ip in host_whitelist %}
          allow {{ ip }};
        {% endfor %}
        deny all;
        auth_basic "restricted";
        auth_basic_user_file /var/dork/auth/$project;
        include container_proxy.conf;
      }

      location @instanceauth {
        satisfy any;
        {% for ip in host_whitelist %}
          allow {{ ip }};
        {% endfor %}
        deny all;
        auth_basic "restricted";
        auth_basic_user_file /var/dork/auth/$project.$instance;
        include container_proxy.conf;
      }
    }

    server {
      server_name {{ host_wildcard_domain }};
      {% if host_ssl %}
        listen 443 default_server;
        include https.conf;
      {% else %}
        listen 80 default_server;
      {% endif %}

      location ~^\/(?<project>[a-zA-Z0-9-_]+)(?<path>\/.*)$ {
        proxy_read_timeout 3600;
        proxy_pass http://127.0.0.1:80$path?$args;
        proxy_set_header Host $project.{{ host_wildcard_domain }};
        proxy_set_header x-dork-ip $remote_addr;
        proxy_set_header x-dork-port $server_port;
        proxy_set_header x-dork-protocol $server_protocol;
      }

      location ~^\/(?<project>[a-zA-Z0-9-_]+)\.(?<instance>[a-zA-Z0-9-_]+)(?<path>\/.*)?$ {
        resolver localhost;
        proxy_read_timeout 3600;
        proxy_pass http://127.0.0.1:80$path?$args;
        proxy_set_header Host $project.$instance.{{ host_wildcard_domain }};
        proxy_set_header x-dork-ip $remote_addr;
        proxy_set_header x-dork-port $server_port;
        proxy_set_header x-dork-protocol $server_protocol;
      }
    }
}
