user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log;

pid        /run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    sendfile        on;
    client_body_buffer_size 100M;
    keepalive_timeout  0;

    {% if host_wildcard_domain %}
    server {
      server_name ~^(?<project>[a-zA-Z0-9-_]+).{{ host_wildcard_domain }}$;
      listen 80;

      location ~^\/?(?<path>.*)$ {
        resolver localhost;
        proxy_read_timeout 3600;
        proxy_pass http://$project.$project.dork:80/$path?$args;
        proxy_set_header X-Dork-Host $http_host;
        proxy_set_header X-Dork-IP $remote_addr;
        proxy_set_header X-Dork-Path '';
        {% if host_restrict_access %}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd-$project;
        {% endif %}
      }
    }

    server {
      server_name ~^(?<instance>[a-zA-Z0-9-_]+).(?<project>[a-zA-Z0-9-_]+).{{ host_wildcard_domain }}$;
      listen 80;

      location ~^\/?(?<path>.*)$ {
        resolver localhost;
        proxy_read_timeout 3600;
        proxy_pass http://$project.$instance.dork:80/$path?$args;
        proxy_set_header X-Dork-Host $http_host;
        proxy_set_header X-Dork-IP $remote_addr;
        proxy_set_header X-Dork-Path '';
        {% if host_restrict_access %}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd-$project;
        {% endif %}
      }
    }
    {% else %}
    server {
      server_name _;
      listen 80 default_server;

      {% for tool in tools['stdout_lines'] %}
      location ^~/{{ tool | regex_replace('^(.*).conf', '\\1') }}/ {
        include tools/{{ tool }};
      }
      {% endfor %}

      location ~^\/(?<project>[a-zA-Z0-9-_]+)(\/(?<path>.*))?$ {
        resolver localhost;
        proxy_read_timeout 3600;
        proxy_pass http://$project.$project.dork:80/$path?$args;
        proxy_set_header X-Dork-Host $http_host;
        proxy_set_header X-Dork-IP $remote_addr;
        proxy_set_header X-Dork-Path $project;
        {% if host_restrict_access %}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd-$project;
        {% endif %}
      }

      location ~^\/(?<project>[a-zA-Z0-9-_]+)\.(?<instance>[a-zA-Z0-9-_]+)(\/(?<path>.*))?$ {
        resolver localhost;
        proxy_read_timeout 3600;
        proxy_pass http://$project.$instance.dork:80/$path?$args;
        proxy_set_header X-Dork-Host $http_host;
        proxy_set_header X-Dork-IP $remote_addr;
        proxy_set_header X-Dork-Path $project.$instance;
        {% if host_restrict_access %}
        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd-$project;
        {% endif %}
      }
    }
    {% endif %}
}
