[Unit]
Description=Boot all dork containers
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/bin/dork boot"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
